body{
    background-color: #222738;
}
#container {
    width: 850px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
    background-color: #6e7888;

}

#pieceContainer {
    width: 408px;
    height: 408px;
    border: 1px solid black;
    float: left;
    text-align: center;
    font-size: 30px;
    color:crimson;
    background-color:mintcream;
    line-height: 400px;
    position: relative;
}

#puzzleContainer {
    width: 408px;
    height: 408px;
    border: 1px solid black;
    float: right;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul button {
    width: 100px;
    border: 3px solid black;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: #6e7888;
}
button:hover{
    background: #4cffd7;
}
.button {
    width: 100px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    left: 500px;
    top: 280px;
}

#btnReset {
    display: none;
}
#btnNext {
    display: none;
}

.piece {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
    background-image: url("../images/but.jpg");
    background-repeat: no-repeat;
}


